[settings]
py_version = 312
line_length = 88
known_typing = typing,types,typing_extensions,mypy,mypy_extensions
sections = FUTURE,TYPING,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
profile = black
include_trailing_comma = true
multi_line_output = 3
indent = 4
skip = atomea/schemas/workflow/westpa/cfg/__init__.py,atomea/schemas/workflow/amber/v18/__init__.py,atomea/schemas/workflow/amber/v20/__init__.py,atomea/schemas/workflow/amber/v22/__init__.py
